body {
  font-size: 16px;
  /*stylelint-disable */
  font-family: Roboto, Arial, sans-serif;
  /*stylelint-enable */
}

/* HEADER */

.header {
  max-width: 828px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px;
}

.header__logo {
  width: 197px;
  height: 65px;
}

.header__logo_mobile {
  display: none;
  margin-left: 1px;
  width: 50px;
  height: 44px;
}

.header__hamburger{
  display: none;
  width: 25px;
  height: 20px;
  margin-top: 11px;
  margin-bottom:13px;
  border: 0;  
  cursor: pointer;
  outline: none;
  background-color: inherit;
  background-image: url(img/hamburger.svg);  
} 

@media (max-width: 640px) {
.header__logo {
  display: none;
}
.header__logo_mobile{ display: block;}

.header { 
  padding-bottom: 15px;
  padding-top: 13px;
}

.header__hamburger{
  display: block;
}
}

.header__tel {
  color: #333;
  text-decoration: none;
  font-size: 21px;
  line-height: 1;
}



/* MAIN MENU */

.main-menu {
  background-color: #3e4758;
}

@media (max-width: 640px) {
.main-menu {
  display: none;
}
}

.menu {
  max-width: 828px;
  margin: 0 auto;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 0.9px;
  font-size: 13px;
}

.menu__li {
  display: flex;
}

.menu__link {
  padding: 26px 0 18px;
  color: inherit;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.39;
}

.menu__link_active {
  border-bottom: 3px solid #ffdd2d;
}

/* CARD ADVISE */

.card {  
  margin-bottom: 82px;
  background-image: linear-gradient(to right, #1489e7, #003e82);
}

.card__advise {
  display: flex;
  min-height: 413px;
}


.card__side {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card__img-img {
  margin-right: 15px;
  position: absolute;
  right: 0;
  width: 550px;
  height: 550px;
  top: -85px;
}

.card-text {
  max-width: 342px;
  margin-left: 15px;
  padding: 91px 0 74px;
  color: #fff;
}

.card-text__header {
  margin: 0 0 17px;
  font-weight: 100;
  font-size: 50px;
  line-height: 1;
}

.card-text__descript {
  margin: 0 0 19px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.button {
  border-radius: 6px;
  background-color: #ffdd2d;
  border: none;
  outline: none;
  color: #333;
  text-align: center;
  font-size: 17px;
  /* stylelint-disable */
  font-family: Roboto, Arial, sans-serif;
  /* stylelint-enable */
  line-height: 1.42;
  cursor: pointer;
}

.button_card {  
  min-width: 212px;
  height: 62px;
  padding: 19px 35px;
}

@media (max-width: 640px) {

.card {
  margin-bottom: 28px;
  background-image: linear-gradient(179deg,#168de7,#00428a);
}

.card__advise {
  min-height: 390px;
  background-position: 32% 270%;
  background-size: 360px 358px;
  background-image: url(img/cards.png);
  background-repeat: no-repeat;
}
  
.card__side_left {
  display: none;
}

.card-text {
  margin: 0 auto;
  padding: 0;
}

.card-text__header {
  width: 239px;
  height: 72px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 26px auto 0;
}

.card-text__descript {
  margin: 7px auto 141px;
  text-align: center;
}

.button_card {
  display: block;
  min-width: 252px;
  height: 66px;
  margin: 0 auto 30px;
}
}

/* MAIN CONTAIN */

/* TAG CONTAIN */

.main-content {
  max-width: 829px;
  margin: 0 auto;
  padding: 0 18px;
}

.h2 {
  margin: 0 auto;
  color: #333;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}

.main-content__header {
  max-width: 829px;
  min-height: 58px;
}

.tag-map {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  box-sizing: border-box;
  margin: 50px auto 67px;
  padding: 12px;
  border: solid 1px #dddfe0;
  border-radius: 6px;
}

.tag__edit {
  padding: 20px 6px;
  font-size: 13px;
  outline: none;
}

.tag {
  position: relative;
  max-width: 238px;
  overflow: hidden;
  display: flex;
  height: 18px;
  align-items: center;
  margin: 6px 0;
  padding: 12px 11px;
  padding-right: 50px;
  border-radius: 6px;
  background-color: #eef2f7;
  color: #333;
  font-size: 13px;
}

.tag__grad {
  padding: 10px 20px 10px 22px;
  position: absolute;
  right: 0;
  background-image: linear-gradient(to right, rgba(238, 242, 247, 0), #eef2f7 34%);
}

.tag__text {
  white-space: nowrap;
}

.tag__del {
  right: 11px;
  position: absolute;
  outline: none;
  top: 16px;
  margin-bottom: -2px;
  padding: 5.5px;
  z-index: 1;
  border: none;
  background: url(img/delete.svg) center;
  font-size: 0;
  cursor: pointer;
}

.tag__input {
  box-sizing: border-box;
  max-height: 42px;
  flex-grow: 1;
  margin: 6px;
  padding: 10px 11px;
  outline: none;
  border: none;
  font-size: 22px;
  line-height: 1;
}

@media (max-width: 640px) {
.main-content__header {  
  margin: 0 auto;
  width: 252px;
  height: 72px;
  font-size: 30px;
  line-height: 1.2;
}

.tag-map{
  margin: 24px auto 52px; 
}


}

/* FORM CONTAIN */

.form__header {
  max-width: 540px;
  height: 120px;
  line-height: 1.08;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: 55px auto 27px;
}

.form__item {
  position: relative;
  margin: 12px 0;
}

.form__input {
  box-sizing: border-box;
  background-color: #eef2f7;
  padding: 23px 20px;
  width: 100%;
  color: #333;
  font-size: 17px;
  /* stylelint-disable */
  font-family: Roboto, Arial, sans-serif;
  /* stylelint-enable */
  line-height: 1.18;
  border: none;
  border-radius: 6px;
}

.form__label {
  position: absolute;
  top: 23px;
  left: 18px;
  color: #74a3c7;
  font-size: 17px;
  opacity: 0.6;
  transition: all 0.3s cubic-bezier(0.61, -0.12, 0.59, 1.08);
}

.form__input[data-empty='false'],
.form__input:valid,
.form__input:focus {
  padding: 32px 20px 14px;
}

.form__input:focus {
  background-color: #fff;
}

.form__input[data-empty='false'] + .form__label,
.form__input:valid + .form__label,
.form__input:focus + .form__label {
  color: #74a3c7;
  font-size: 13px;
  transform: translate(0, -8px);
}

.form__alert-desc {
  display: none;
  margin: -1px 0 14px;
  color: #d0021b;
  text-align: left;
  font-size: 13px;
}

.form__alert {
  position: absolute;
  display: none;
  top: 21px;
  right: 18px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-image: url(img/alert.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__help {
  position: absolute;
  top: 21px;
  right: 18px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-image: url(img/help.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.form__help-desc {
  position: relative;
  display: block;
  z-index: -1;
  opacity: 0;
  top: -33px;
  right: 332px;
  padding: 16px;
  width: 284px;
  border: solid 1px #dddfe0;
  border-radius: 6px;
  background-color: #fff;
  color: #9299a2;
  text-align: left;
  font-size: 13px;
  line-height: 1.38;
}

.form__help:hover .form__help-desc {
  display: block;
  z-index: 1;
  opacity: 1;
  transform: translate(8px);
  transition: all 0.5s ease-in-out;
}

.form__item.catch {
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #d0011b;
}

.form__alert-desc.catch,
.form__alert.catch {
  display: block;
}

@media (max-width: 640px) {
.form__header {
  width: 288px;
  height: 56px;
  font-size: 24px;
}

.form{
  margin-top: 24px;
}

.form__help-desc {
  width: 200px;  
  right: 254px;
  top: -38px;
}
}
/* CHOICE */

.main-choice {
  margin: 0 auto;
  max-width: 540px;
}

.main-choice__header {
  max-width: 245px;
  margin: 0 auto 15px;
  color: #333;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.15;
}

.choice {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.choice__item {
  position: relative;
  box-sizing: border-box;
  margin: 12px;
  width: 258px;
  border: solid 1px #dddfe0;
  border-radius: 6px;
  color: #74a3c7;
  font-size: 17px;
  /* stylelint-disable */
  font-family: Roboto, Arial, sans-serif;
  /* stylelint-enable */
  line-height: 1.18;
}

.choice__label {
  display: block;
  padding: 21px 18px;
  cursor: pointer;
}

.choice__checked {
  transition: border .4s ease-in-out;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #eef2f7;
  top: 18px;
  right: 18px;
}

.choice__radio {
  visibility: hidden;
  position: absolute;
}

.choice__radio:checked ~ .choice__checked {
  box-sizing: border-box;
  border: 11px solid #ffdd2f;
  background-color: #3e4757;
}

.choice__radio:checked ~ .choice__text {
  color: black;
}

.button_form {
  display: block;
  width: 258px;
  height: 66px;
  margin: 37px auto 57px;
  padding: 23px 86px;
}

@media (max-width: 640px) {
.choice__item {
  width: 100%;
}

.button_form {
  width: 100%;
}
}

